
            body {background-color: hsl(207, 100%, 73%);}
            h2 {font-family:Arial;font-size:20px;border: 2px solid rgb(0, 255, 255)}
            p {font-family: Arial;font-size: 16px;border: 2px solid rgb(25, 88, 134)}
            