
    body {background-color: hsl(207, 79%, 61%);text-align: center;}
    h1 {font-size:35px;font-family:Arial;text-align: center;}
    h2 {font-family:Arial;font-size:22px;border: 2px solid rgb(0, 255, 255);text-align: center;}
    p {font-family: Arial;font-size: 16px;border: 2px solid rgb(25, 88, 134);text-align: center;}