body {background-color: hsl(192, 57%, 54%);}
h1 {font-size:35px;font-family:Arial;}
h2 {font-family:Arial;font-size:20px;border: 2px solid rgb(0, 255, 255)}
p {font-family: Arial;font-size: 16px;border: 2px solid rgb(25, 88, 134)}